body {
  background-color: #899fae;
  padding: 20px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
h1, h2, p, ul, li {
  font-family: 'Roboto', sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
} 

.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099FF;
}

.my-root{
  max-width: 70rem; 
  margin: 0 auto;
}

.header, .logo{
  text-align: center;
}

.logo h1{
  font-size: 2.8rem;
}

.home{
  line-height: 2;
}

.privacy div .center{
  text-align: center;
}

/* contact form  */

.mycontact{
  background-color: #0099FF;
  max-width:15rem;
  margin: 0 auto;
  padding: 15px;
}
.mycontact .form-group{
  padding: 10px 0;
  width: 100%;
  color: white;
}
.mycontact  input , textarea, .mycontact button{
  width: 100%;
  padding: 8px 0;
border-radius: 5px;
}



/* contact form */